{% include 'admin/cabecera_admin.html' %}

{% if libros %}
<div class="row">
    {% for libro in libros %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ libro.imagen }}" alt="Title" />
            <div class="card-body">
                <h4 class="card-title">{{ libro.titulo }}</h4>
                <p class="card-text">{{ libro.descripcion }}</p>
                <p class="card-text">{{ libro.autor }}</p>
                <a name="" id="" class="btn btn-primary"
                    href="http://bilal-qudah.com/mm/Programming%20Python%20Fourth%20Edition.pdf"
                    role="button">Descargar</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>No tienes libros registrados.</p>
{% endif %}

{% include 'admin/pie_admin.html' %}